# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
hello
main
Matrice n m
Tema 1/interactive
Tema 1/Tema1.zip
lab10/data.in
lab10/data1.in
lab10/data2.in
lab10/bytes.bin
lab10/data3.in
lab10/data41.in
lab10/data42.in
lab10/lab10.zip:Zone.Identifier
lab10/output.txt
