# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
hello
main
Matrice n m
Tema 1/interactive
Tema 1/Tema1.zip
lab10/data.in
lab10/data1.in
lab10/data2.in
lab10/bytes.bin
lab10/data3.in
lab10/data41.in
lab10/data42.in
lab10/lab10.zip:Zone.Identifier
lab10/output.txt
Tema 2/planner
Tema 2/bitpacking
Tema 2/check.sh
Tema 2/check.sh:Zone.Identifier
Tema 2/check16
Tema 2/check16.c
Tema 2/check16.c:Zone.Identifier
Tema 2/install-linters.sh
Tema 2/install-linters.sh:Zone.Identifier
Tema 2/Makefile.checker
Tema 2/Makefile.checker:Zone.Identifier
Tema 2/parse.awk
Tema 2/parse.awk:Zone.Identifier
Tema 2/result
Tema 2/t2_checker.zip:Zone.Identifier
Tema 2/t2_tests_1-to-8/*
Tema 2/tests/*
lab11/ex
lab11/ex1
lab12/definitii.c:Zone.Identifier
lab12/main:Zone.Identifier
lab12/main.c:Zone.Identifier
lab12/Makefile:Zone.Identifier
lab12/recapitulare.zip:Zone.Identifier
lab12/structuri.h:Zone.Identifier
demo_sub/cod
Tema 2/liviu.zip
demo_sub/cod
demo_sub/debug
demo_sub/cod
demo_sub/debug
